# Tu indique que Apache doit suivre les liens symbolique #
Options +FollowSymlinks
Options All -Indexes

RewriteEngine on

# upload directory rewrite
RewriteRule ^uploads/front/(.*)$ ./apps/upload/frontend/$1 [L,QSA]
RewriteRule ^uploads/admin/(.*)$ ./apps/upload/backend/$1 [L,QSA]
RewriteRule ^uploads/candidat/resume/(.*)$ ./apps/upload/frontend/cv/$1 [L,QSA]
RewriteRule ^uploads/candidat/motivation_letter/(.*)$ ./apps/upload/frontend/lmotivation/$1 [L,QSA]
RewriteRule ^uploads/candidat/photo/(.*)$ ./apps/upload/frontend/photo_candidats/$1 [L,QSA]  

RewriteRule ^candidat/compte(.*)$ ./public/index.php$1 [L,QSA]
RewriteRule ^candidat/inscription(.*)$ ./public/index.php$1 [L,QSA]
RewriteRule ^candidat/account/confirm/([a-zA-Z0-9]+)$ ./public/index.php?token=$1 [L,QSA]

RewriteRule ^candidat/cv/formation/([0-9]+)$ ./public/index.php?id=$1 [L,QSA]
RewriteRule ^candidat/cv/formation/([0-9]+)/delete$ ./public/index.php?id=$1 [L,QSA]

RewriteRule ^candidat/cv/experience/([0-9]+)$ ./public/index.php?id=$1 [L,QSA]
RewriteRule ^candidat/cv/experience/([0-9]+)/delete$ ./public/index.php?id=$1 [L,QSA]

RewriteRule ^offre/([0-9]+)$ ./public/index.php?id=$1 [L,QSA]
RewriteRule ^offre/([0-9]+)/postuler$ ./public/index.php?id=$1 [L,QSA]
RewriteRule ^offre/([0-9]+)/postuler/store$ ./public/index.php?id=$1 [L,QSA]
RewriteRule ^offre/([0-9]+)/print$ ./public/index.php?id=$1 [L,QSA]
RewriteRule ^offre/([0-9]+)/send-to-friend$ ./public/index.php?id=$1 [L,QSA]

# RewriteRule ^backend/offres/creer_offre/$ ./public/index.php?id=$1 [L,QSA]
RewriteRule ^backend/offres/(.*)$ ./apps/backend/offres/$1 [L,QSA]
RewriteRule ^backend/offres ./apps/backend/offres/index.php [L,QSA]

RewriteRule ^backend/candidats/(.*)$ ./apps/backend/candidats/$1 [L,QSA]
RewriteRule ^backend/candidats ./apps/backend/candidats/index.php [L,QSA]

RewriteRule ^backend/cv_import_uploads/(.*)$ ./apps/upload/backend/cv_import_uploads/$1 [L,QSA] 

RewriteRule ^backend/candidatures_f/(.*)$ ./apps/backend/candidatures_f/$1 [L,QSA]
RewriteRule ^backend/candidatures_f ./apps/backend/candidatures_f/index.php [L,QSA]

RewriteRule ^backend/candidatures/(.*)$ ./apps/backend/candidatures/$1 [L,QSA]
RewriteRule ^backend/candidatures ./apps/backend/candidatures/index.php [L,QSA]

RewriteRule ^backend/reporting/(.*)$ ./apps/backend/reporting/$1 [L,QSA]
RewriteRule ^backend/reporting ./apps/backend/reporting/index.php [L,QSA]

RewriteRule ^backend/courriers/(.*)$ ./apps/backend/courriers/$1 [L,QSA]
RewriteRule ^backend/courriers ./apps/backend/courriers/index.php [L,QSA]

RewriteRule ^backend/administration/(.*)$ ./apps/backend/administration/$1 [L,QSA]
RewriteRule ^backend/administration ./apps/backend/administration/index.php [L,QSA]

RewriteRule ^backend/stages/(.*)$ ./apps/backend/stages/$1 [L,QSA]
RewriteRule ^backend/stages ./apps/backend/stages/index.php [L,QSA]

# Get module routes
RewriteRule ^backend/module/([a-z-_]+)/([a-z-_]+)/([a-z-_(\.php)]+)$ ./modules/index.php?module=$1&controller=$2&action=$3 [L,QSA]
RewriteRule ^backend/module/([a-z-_]+)/([a-z-_]+)/([a-z-_]+)/([0-9]+)$ ./modules/index.php?module=$1&controller=$2&action=$3&id=$4 [L,QSA]
RewriteRule ^backend/module/([a-z-_]+)/([a-z-_]+)$ ./modules/index.php?module=$1&controller=$2&action=index [L,QSA]

RewriteRule ^module/([a-z-_]+)/([a-z-_]+)/([a-z-_(\.php)]+)$ ./modules/index.php?module=$1&controller=$2&action=$3 [L,QSA]
RewriteRule ^module/([a-z-_]+)/([a-z-_]+)/([a-z-_]+)/([0-9]+)$ ./modules/index.php?module=$1&controller=$2&action=$3&id=$4 [L,QSA]
RewriteRule ^module/([a-z-_]+)/([a-z-_]+)$ ./modules/index.php?module=$1&controller=$2&action=index [L,QSA]

RewriteRule ^backend(.*)$ ./apps/backend/home/$1 [L,QSA] 
RewriteRule ^accueil.php$ ./apps/backend/home/accueil.php [L,QSA]

RewriteRule ^src/includes/ajax.php$ ./src/includes/ajax/index.php [L,QSA]

# redirect to index directory
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . ./public/index.php [L]

<IfModule mod_deflate.c>
  SetOutputFilter DEFLATE
  SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip
</IfModule>
  
## controle du cache navigateur - Expire headers
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 7200 seconds"
	ExpiresByType image/jpg 			"access plus 1 week"
	ExpiresByType image/jpeg 			"access plus 1 week"
	ExpiresByType image/png 			"access plus 1 week"
	ExpiresByType image/gif 			"access plus 1 week"
	ExpiresByType image/svg+xml			"access plus 1 week"
	AddType image/x-icon .ico
	ExpiresByType image/ico 			"access plus 1 week"
	ExpiresByType image/icon 			"access plus 1 week"
	ExpiresByType image/x-icon 			"access plus 1 week"
	ExpiresByType text/css 				"access plus 1 week"
	ExpiresByType text/javascript 		"access plus 1 week"
	ExpiresByType text/html 			"access plus 7200 seconds"
	ExpiresByType application/xhtml+xml 	"access plus 7200 seconds"
	ExpiresByType application/javascript 	"access plus 1 week"
	ExpiresByType application/x-javascript 	"access plus 1 week"
	ExpiresByType application/x-shockwave-flash "access plus 1 week"
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\\.(ico|jpe?g|png|gif|swf)$">
	Header set Cache-Control "max-age=2592000, public"
	</FilesMatch>

	<FilesMatch "\\.(css)$">
	Header set Cache-Control "max-age=604800, public"
	</FilesMatch>

	<FilesMatch "\\.(js)$">
	Header set Cache-Control "max-age=216000, private"
	</FilesMatch>

	<FilesMatch "\\.(x?html?|php)$">
	Header set Cache-Control "max-age=600, private, must-revalidate"
	</FilesMatch>

	Header set X-XSS-Protection "1; mode=block"
  Header always append X-Frame-Options SAMEORIGIN
  Header set X-Content-Type-Options nosniff
</IfModule>


###########################################
# PHP error handling for production servers
###########################################

# disable display of startup errors
php_flag display_startup_errors off

# disable display of all other errors
php_flag display_errors off

# disable html markup of errors
php_flag html_errors off

# enable logging of errors
php_flag log_errors on

# disable ignoring of repeat errors
php_flag ignore_repeated_errors off

# disable ignoring of unique source errors
php_flag ignore_repeated_source off

# enable logging of php memory leaks
php_flag report_memleaks on

# preserve most recent error via php_errormsg
php_flag track_errors on

# disable formatting of error reference links
php_value docref_root 0

# disable formatting of error reference links
php_value docref_ext 0

# specify path to php error log
php_value error_log ./error_log

# specify recording of all php errors
# [see footnote 3] # php_value error_reporting 999999999
php_value error_reporting -1

# disable max error string length
php_value log_errors_max_len 0

# protect error log by preventing public access
<Files error_log>
	Order allow,deny
	Deny from all
	Satisfy All
</Files>